*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(./images/back.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

/* nav section style */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: black;
}

.nav h1 {
    color: black;
    text-align: center;
    text-shadow: -2px -3px 4px rgb(252, 252, 252), -2px -4px 4px rgb(250, 252, 252);
}

/* forecast div heading */
#heading {
    color: black;
    text-shadow: -2px -3px 4px rgb(252, 252, 252), -2px -4px 4px rgb(250, 252, 252);
}

/* weather section style */
#details {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    background-image: url(./images/search-back2.jpg);
    background-repeat: no-repeat;
    background-position:center;
    /* background-color: rgba(155, 225, 243, 0.354); */
    border-radius: 40px;
    padding: 20px;
}

/* search section */
.search-div {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
    padding: 10px;
    /* background-color: aliceblue; */
    backdrop-filter: blur(20px);
}

.search-div form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 30px;
}

form input {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: yellow;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}

#dropdown {
    width: 70%;
    height: auto;
    background-color: white;
    display: none;
    border-radius: 10px;
    padding: 5px;
    z-index: 999;
}


#dropdown>p {
    width: 100%;
    height: 30px;
    color: black;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid black;
    transition: all 0.2s linear; 
    cursor: pointer;
    letter-spacing: 0.1rem;
    box-shadow: 0px 2px 10px 5px black;
}

#dropdown>p:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#dropdown>p:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#dropdown>p:hover {
    background-color: teal;
    color: white;
    font-weight: bolder;
}



form button {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    transition: all 0.2s linear;
    letter-spacing: 0.2rem;
}

#Refresh-btn {
    display: none;
    letter-spacing: 0.2rem;
}

form button:hover {
    background: yellow;
}

#button-div {
    width: 100%;
    height: 15%;
    text-align: center;
}

#current-location {
    width: auto;
    height: 90%;
    border-radius: 10px;
    border: none;
    background-color: #3291a8;
    color:black;
    transition: all 0.2s linear;
}

#current-location:hover {
    background: rgb(0, 255, 174);
    color: black;
}


/* weather details section */
.weather-div {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.current-weather-div {
    /* background-color: black; */
    width: 100%;
    height: 40%;
    background: url(./images/todayB2.jpg);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#img-div {
    width: 80%;
    color: yellow;
    font-weight: bolder;
    font-size: 20px;
}

#description {
    backdrop-filter: blur(10px);
}

#info {
    width: 100%;
    backdrop-filter: blur(15px);
}

.forcast-div {
    /* background-color: black; */
    width: 100%;
    height: 57%;
}

/* five-forecast div */
#five-forecast {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;

}

#five-forecast>div {
    height: 90%;
    width: 20%;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.2s linear;
}

#five-forecast > div:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px 5px white;
}

#five-forecast>div:nth-child(1) {
    background-color: green;
}

#five-forecast>div:nth-child(2) {
    background-color: rgb(223, 37, 37);
}

#five-forecast>div:nth-child(3) {
    background-color: rgb(38, 122, 155);
    color: rgb(255, 255, 255);
}

#five-forecast>div:nth-child(4) {
    background-color: rgb(127, 178, 33);
    color: rgb(0, 0, 0);
}

#five-forecast>div:nth-child(5) {
    background-color: rgb(115, 47, 193);
}

#five-forecast>div:nth-child(6) {
    background-color: rgb(31, 146, 156);
}

/* .current-weather-div {
    transition: all 0.2s linear;
    animation: run 5s linear infinite;
} */

.load {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid skyblue;
    border-bottom-color: yellow;
    border-top-color: yellow;
    animation: loading 2s linear infinite;
}

/* desktop div */
#desktopDiv {
    width : 27%;
    height: 35%;
    display: none;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 52%;
    left: 9%;
    border-radius: 15px;

}


/* outer circle design */
#desktopDiv .outer {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    animation: rotate 50s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1%;
    left: 19%;
    background-color: #3290a893;
    box-shadow: 0px 5px 15px 10px black;
}

.google {
    position: absolute;
    height: 45px;
    width: 45px;
    top: 90%;
    left: 40%;
    animation: spreadDown 2s linear infinite alternate;
}

.google img {
    width: 100%;
    height: 100%;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
    border-radius: 15px;
}

.meta {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 70%;
    left: 87%;
    animation: spread 2s linear infinite alternate;
}

.meta img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
    border-radius: 15px;
}

.netflix {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 70%;
    left: -1%;
    animation: spreadLeft 2s linear infinite alternate;
}

.netflix img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
    border-radius: 15px;
}

.microsoft {
    position: absolute;
    height: 45px;
    width: 45px;
    top: -9%;
    left: 42%;
    animation: spreadUp 2s linear infinite alternate;
}

.microsoft img {
    width: 100%;
    height: 100%;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
    border-radius: 15px;
}

.aws {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20%;
    left: -5%;
    animation: spreadLeft 2s linear infinite alternate;
}

.aws img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
    border-radius: 15px;
}

.mailchimp {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 18%;
    left: 86%;
    animation: spread 2s linear infinite alternate;
}

.mailchimp img {
    width: 100%;
    height: 100%;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
    border-radius: 12px;
}


/* middle circle design */
.middle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgba(107, 254, 242, 0.775);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inner circle design */
.inner {
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 50%;
    animation: antiClockwise 25s linear infinite;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.python {
    position: absolute;
    height: 65px;
    width: 68px;
    top: -28%;
    left: 20%;
    animation: spreadUp 2s linear infinite alternate;
}

.python img {
    width: 100%;
    height: 100%;
    animation: rotate 50s linear infinite;
}

.django {
    position: absolute;
    height: 25px;
    width: 40px;
    top: 90%;
    left: 30%;
    animation: spreadDown 2s linear infinite alternate;
}

.django img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: rotate 50s linear infinite;
}

.js {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 33%;
    left: -17%;
    animation: spreadLeft 2s linear infinite alternate;
}

.js img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: rotate 50s linear infinite;
}

.react {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 34%;
    left: 88%;
    animation: spread 2s linear infinite alternate;
}

.react img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: rotate 50s linear infinite;
}

/* center circle design */
.center {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: yellow;
}

.center img {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 50%;
    animation: rotate 50s linear infinite;
}


/* media start */
@media (min-width: 1200px) {
    #desktopDiv {
        display: block;
    }
}


@media(min-width:768px) and (max-width:1024px) {
    #dropdown {
        bottom: 17%;
        left: 10%;
        height: 40%;
        width: 56%;
    }
    #dropdown>p {
        width: auto;
        height: auto;
        font-size: larger;
        font-weight: bold;
        background-color: rgba(214, 225, 218, 0.74);
    }

    #button-div {
        height: 25%;
    }
    #current-location {
        width: 50%;
        letter-spacing: 0.2rem;
    }
   
}


/* media for 640px */
@media (max-width: 640px) {
    #details {
        height: auto;
    }
    .container {
        height: auto;
    }
    #button-div {
        height: 19%;
    }

    #current-location {
        width: 90%;
    }

    /* dropdown style */
    #dropdown {
        /* background-color:transparent; */
        bottom: 19%;
        left: 8%;
        height: 40%;
        width: 56%;
    }

    #dropdown>p {
        width: auto;
        height: auto;
        font-size: larger;
        font-weight: bold;
        background-color: rgba(214, 225, 218, 0.74);
    }

    /* five forecast div style */
    #five-forecast {
        padding: 0px;
    }

    #five-forecast>div {
        height: 77%;
        width: 40%;
        padding: 1px;
        border-radius: 15px;
        transition: all 0.2s linear;
        font-size: 8px;
        font-weight: bold;
    }

    #five-forecast>div:nth-child(1) {
        background-color: green;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #five-forecast>div:nth-child(2) {
        background-color: rgb(223, 37, 37);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #five-forecast>div:nth-child(3) {
        background-color: rgb(38, 122, 155);
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #five-forecast>div:nth-child(4) {
        background-color: rgb(127, 178, 33);
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #five-forecast>div:nth-child(5) {
        background-color: rgb(115, 47, 193);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #five-forecast>div:nth-child(6) {
        background-color: rgb(31, 146, 156);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

   
}


/* loading animation */
@keyframes loading {
    100% {
        transform: rotate(360deg); 
    }
}

/* weather background image animation */
@keyframes run {
    100% {
        transform: rotate(360deg);
    }
}


/* cercular animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes antiClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}


/* spread animation section */
@keyframes spread {

    100% {
        transform: translateX(15px);
    }
}

@keyframes spreadUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes spreadLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-15px);
    }
}

@keyframes spreadDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}