*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(./images/back.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

/* nav section style */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: black;
}

.nav h1 {
    color: skyblue;
    text-align: center;
}


/* weather section style */
#details {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    background-color: rgba(155, 225, 243, 0.354);
    border-radius: 40px;
    padding: 20px;
}

/* search section */
.search-div {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: rgba(252, 252, 252, 0.498);
    border-radius: 20px;
    padding: 10px;
}

.search-div form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 30px;
}

form input {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

form button {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: none;
    transition: all 0.2s linear;
}

form button:hover {
    background: yellow;
}

#button-div {
    width: 100%;
    height: 15%;
    text-align: center;
}

#current-location {
    width: 50%;
    height: 90%;
    border-radius: 10px;
    border: none;
    transition: all 0.2s linear;
}

#current-location:hover {
    background: yellow;
}


/* weather details section */
.weather-div {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.current-weather-div {
    /* background-color: black; */
    width: 100%;
    height: 50%;
}

#img-div {
    width: 80%;
}

#info {
    width: 100%;
}

.forcast-div {
    /* background-color: black; */
    width: 100%;
    height: 50%;
}
