*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(./images/back.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
}

/* nav section style */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: black;
}

.nav h1 {
    color: skyblue;
    text-align: center;
}


/* weather section style */
#details {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    background-color: rgba(155, 225, 243, 0.354);
    border-radius: 40px;
    padding: 20px;
}

/* search section */
.search-div {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: rgba(252, 252, 252, 0.498);
    border-radius: 20px;
    padding: 10px;
}

.search-div form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 30px;
}

form input {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

form button {
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: none;
    transition: all 0.2s linear;
}

form button:hover {
    background: yellow;
}

#button-div {
    width: 100%;
    height: 15%;
    text-align: center;
}

#current-location {
    width: 50%;
    height: 90%;
    border-radius: 10px;
    border: none;
    transition: all 0.2s linear;
}

#current-location:hover {
    background: yellow;
}


/* weather details section */
.weather-div {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.current-weather-div {
    /* background-color: black; */
    width: 100%;
    height: 40%;
    background: url(./images/todayB2.jpg);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#img-div {
    width: 80%;
    color: yellow;
    font-weight: bolder;
    font-size: 20px;
}

#description {
    backdrop-filter: blur(10px);
}

#info {
    width: 100%;
    backdrop-filter: blur(15px);
}

.forcast-div {
    /* background-color: black; */
    width: 100%;
    height: 57%;
}

/* five-forecast div */
#five-forecast {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;

}

#five-forecast>div {
    height: 90%;
    width: 20%;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.2s linear;
}

#five-forecast > div:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px 5px white;
}

#five-forecast>div:nth-child(1) {
    background-color: green;
}

#five-forecast>div:nth-child(2) {
    background-color: rgb(223, 37, 37);
}

#five-forecast>div:nth-child(3) {
    background-color: rgb(38, 122, 155);
    color: rgb(0, 0, 0);
}

#five-forecast>div:nth-child(4) {
    background-color: rgb(127, 178, 33);
    color: rgb(0, 0, 0);
}

#five-forecast>div:nth-child(5) {
    background-color: rgb(115, 47, 193);
}

#five-forecast>div:nth-child(6) {
    background-color: rgb(31, 146, 156);
}

.load {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid skyblue;
    border-bottom: black;
    border-top: black;
    animation: loading 2s linear infinite;
}


/* loading animation */
@keyframes loading {
    100% {
        transform: rotate(360deg); 
    }
}